/*our styles*/
h1{
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
}
h2{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
body{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#container{
  width:90%;
  margin: 0 auto;
}
#nav {
  padding:0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#nav li {
  font-size:16px;
  border-bottom: 2px solid white;
  font-family: 'Oswald', sans-serif;
}
#nav a {
  display: block;
  padding: 3px;
  color: black;
  background-color: #8fbfff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
#nav a:hover{
  color: white;
  background-color: #377ad1;
}
#stories{
  text-align: center;
  display: block;
  margin:0 10%;
  position: relative;
  top: inherit;
}
i {
  width: 5%;
  position:absolute;
  right:6px;
  top:inherit;
  padding-top: 5px;
}
#storydropdown{
  display: none;
  width: 30%;
  position: relative;
  margin: 0 0 0 70%;
}
#storydropdown a{
  background-color:#377ad1;
  color:black;
}
#storydropdown a:hover{
  color:white;
}
@media screen and (min-width:599px){
  #nav{
    flex-flow: row wrap;
    align-items: space-around;
  }
