/*our styles*/
h1{
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
}
h2{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
p{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#nav {
  padding:0;
  list-style-type: none;
}
#nav li a {
  font-size:16px;
  border-bottom: 1px solid #fff2e6;
  font-family: 'Oswald', sans-serif;
}
